<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tool.cn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <!--禁止界面到设置界面-->
        <activity
            android:name="com.tool.cn.permission.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent"
            tools:ignore="WrongManifestParent" />
    </application>
</manifest>